

.App {

  box-sizing: border-box;
  background-image:url(./image/warm.jpg) ;
  /* background-color: aqua; */
  height:100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4 ease;
  
  text-align: center;
  /* color:black; */
}

.AppCold{
  box-sizing: border-box;
  background-image:url(./image/cold.jpg) ;
  /* background-color: aqua; */
  height:100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4 ease;
  
  text-align: center;
  /* color:black; */

}

#search{
  padding: 20px;
  
}

#form{
  margin: 3px;
}

#cityName{
  text-shadow: 3px 3px rgba(50, 50, 70,0.5);
}







